*{
    font: 1em sans-serif;
}
select{
    width: 23.7rem;
    height: 43PX;
    color: rgb(115, 111, 111);
    background-color: rgb(255, 236, 236);
    border: none;
    padding-left: 12px;
}
input{
    height: 43PX;
    color: rgb(115, 111, 111);
    background-color: rgb(255, 236, 236);
    border:  none;
    padding-left: 12px;
   }
   .form3col input{
    width: 23.7rem;
   }
select:focus,input:focus{

  background-color:white;
  outline-color: greenyellow;
  transition: background-color .4s ;
}

.form3{
    width: 80%;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 50px;
  
    border:1px solid  rgb(255, 236, 236);
    border-radius: 5px;
    padding: 20px 0px;
    padding-left: auto;
    padding-right: auto;
}
.form3row{
    display: flex;
    justify-content: space-around;
   
}
.form3col{
    display: flex;
    flex-direction: column;
}
p{
    text-align: left;
  
}
h3{
    margin-left: 4rem;
    padding-bottom: 20px;
}
.inputclass{
    margin-bottom: 10px;
}
.form3col{
    margin-bottom: 15px;

}
@media (max-width:1150px) {
    select{
        width: 20.7rem;
        height: 43PX;
        color: rgb(115, 111, 111);
        background-color: rgb(255, 236, 236);
        border: none;
        padding-left: 12px;
    }
    .inputclass{
        
        height: 43PX;
        color: rgb(115, 111, 111);
        background-color: rgb(255, 236, 236);
        border:  none;
        padding-left: 12px;
       }
       .form3col input{
        width: 20.7rem;
       }
       
}
@media (max-width:992px) {
    select{
        width: 18.7rem;
        height: 43PX;
        color: rgb(115, 111, 111);
        background-color: rgb(255, 236, 236);
        border: none;
        padding-left: 12px;
    }
    .inputclass{
        height: 43PX;
        color: rgb(115, 111, 111);
        background-color: rgb(255, 236, 236);
        border:  none;
        padding-left: 12px;
       }
       .form3col input{
        width: 18.7rem;
       }
}@media (max-width:910px) {
    select{
        width: 16.7rem;
        height: 43PX;
        color: rgb(115, 111, 111);
        background-color: rgb(255, 236, 236);
        border: none;
        padding-left: 12px;
    }
    .inputclass{
        height: 43PX;
        color: rgb(115, 111, 111);
        background-color: rgb(255, 236, 236);
        border:  none;
        padding-left: 12px;
       }
       .form3col input{
        width: 16.7rem;
       }
}
@media (max-width:805px) {
    select{
        width: 15.7rem;
        height: 43PX;
        color: rgb(115, 111, 111);
        background-color: rgb(255, 236, 236);
        border: none;
        padding-left: 12px;
    }
    .inputclass{
        height: 43PX;
        color: rgb(115, 111, 111);
        background-color: rgb(255, 236, 236);
        border:  none;
        padding-left: 12px;
       }
       .form3col input{
        width: 15.7rem;
       }
}
@media (max-width:755px) {
    select{
        width: 14rem;
        height: 43PX;
        color: rgb(115, 111, 111);
        background-color: rgb(255, 236, 236);
        border: none;
        padding-left: 12px;
    }
    .inputclass{
        height: 43PX;
        color: rgb(115, 111, 111);
        background-color: rgb(255, 236, 236);
        border:  none;
        padding-left: 12px;
       }
       .form3col input{
        width: 14rem;
       }
}
@media (max-width:665px) {
    select{
        width: 80%;
        height: 43PX;
        color: rgb(115, 111, 111);
        background-color: rgb(255, 236, 236);
        border: none;
        padding-left: 12px;
    }
    .inputclass{
        height: 43PX;
        color: rgb(115, 111, 111);
        background-color: rgb(255, 236, 236);
        border:  none;
        padding-left: 12px;
       }
       .form3col input{
        width: 80%;
       }
       .form3row{
        display: block;
       }
       .form3col{
        align-items: center;
       }
       p{
       align-items:flex-start;
       }
       
}


