

.field1,.field2{
  width: 80%;
margin:0 auto;
background-color: white;
line-height: 5px;
}


.person-name{

  display: flex;
  justify-content: space-around;
  line-height: 0px;
  background-color: white;
}
.person-name >div{
  background-color: white;
}